{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}

<h1>
	{{=display_title}}
	<div align="right">
	    {{if not editing:}}
	    {{=button}}
	    {{pass}}
	</div>
</h1>

{{if editing:}}
    {{=content}}
{{else:}}
    {{=represent_wiki(content)}}
{{pass}}

<p>
    {{=A('Return to Main', _class='btn', _href=URL('default', 'index'))}}
</p>
<!-- You need to put here buttons to see the revision history (to implement later),
and to edit (to implement now). -->
